Package: srvouve
Version: 1.3
Depends: pocketsphinx, python3-pocketsphinx, pocketsphinx-en-us, libpocketsphinx3, libpocketsphinx-dev, gstreamer1.0-pocketsphinx
Section: eletronic
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: maurinsoft.com.br
Description: srvouve , robotinics project
